* { margin: 0; padding: 0; outline: 0 }
body, html{
 font-family:Arial, Helvetica, sans-serif;
 height:100%;
 width:100%;
 list-style: circle inside;
 margin: 0;
 padding: 0;
 background: #1e1e1e; 
 text-align: center;
}
h1 { font-size: 1.4em }
h2 { font-size: 1.25em }
h3 { font-size: 1em }
#wrapper {
	margin:0 auto;
	width:950px;
	left:50%;
	text-align: left; 
}
#resume_header {
	width: 835px;
	height: 113px;
	background: #1e1e1e url(images/resume_header.png) top center no-repeat;
	position: relative;
	border-bottom: none;
	border-top: none;
}
#resume_menu {
	position: absolute;
	top: 50px;
	left: 500px;
}
#resume_menu ul li {
	display: inline;
	list-style-type: none;
}
#resume_menu ul li a {
	color: #888888;
	font-size: 22px;
	font-weight:bold;
	text-decoration:none;
	padding: 0 15px;
	background: transparent url(images/separator.png) center right no-repeat;
	outline: 0;
}

#resume_menu ul li a:hover{
    color: #FFFFFF;
	font-size: 22px;
	font-weight:bold;
	text-decoration:none;
}

#resume_menu ul li a:active { 
	color: red;
	font-size: 22px;
	font-weight:bold;
	text-decoration:none; 
}
#resume_contact_me {
	color: #FFFFFF;
	font-weight: bold;
}

#autocad {
	width: 396px;
	height: 250px; 
	background: url(images/autocad.png) center center no-repeat;
	float: left;
	margin-right: 45px;
}
#autocadscris {
	position: relative;
	top: 20px;
	left: 3px;
	width: 217px;
	height: 45px;
	background: #101010;
	color: #FFFFFF;
	text-align: center;
	vertical-align: middle;
	line-height: 45px;
	
	
}
#website {
	width: 395px;
	height: 251px;
	background: url(images/website.png) center center no-repeat;
	float: left;
}

#websitescris {
	position: relative;
	top: 20px;
	left: 174px;
	width: 217px;
	height: 45px;
	background: #101010;
	color: #FFFFFF;
	text-align: center;
	vertical-align: middle;
	line-height: 45px;
	
	
}

#autocadwebsite {
	clear: both;
	height: 35px;
	
}

#studiomax {
	width: 395px;
	height: 250px;
	background: url(images/studiomax.png) center center no-repeat;
	float: left;
	margin-right: 45px;
}

#studiomaxscris {
	position: relative;
	top: 20px;
	left: 3px;
	width: 217px;
	height: 45px;
	background: #101010;
	color: #FFFFFF;
	text-align: center;
	vertical-align: middle;
	line-height: 45px;
	
	
}

#print {
	width: 394px;
	height: 250px;
	background: url(images/archibus.png) center center no-repeat;
	float: left;
}

#printscris {
	position: relative;
	top: 20px;
	left: 174px;
	width: 217px;
	height: 45px;
	background: #101010;
	color: #FFFFFF;
	text-align: center;
	vertical-align: middle;
	line-height: 45px;
	
	
}

#studiomaxprint {
	clear: both;
	height: 35px;
}


#slideshowbackground {
	width: 835px;
	height: 140px;
}
#spaceafterslideshow {
	width: 835px;
	height: 50px;
	color:#FFFFFF;
	clear: both;
	text-align: right;
	vertical-align: bottom;
	line-height: 50px;
	
}
#contactbackground {
	width: 835px;
	height: 57px;
	background: url(images/contactbackground.png) center center no-repeat;
}



#worksectiontitle {
	width: 835px;
	height: 80px;
	text-align: center;
	vertical-align: middle;
	line-height: 80px;
	color: #FFFFFF;
	font-weight: bold;
}

#workholepicturebackground {
	width: 835px;
	height: 790px;
	background: #101010;
	border:2px solid;
    border-radius:25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    -khtml-border-radius: 25px;
    text-align: center;
}

#workbigpicturebackground {
	width: 810px;
	height: 600px;
	margin-top: 50px;
	margin-left: 12px;
	background: #020202;
	text-align: center;
	vertical-align: middle;
	line-height: 600px;
}

#workspace {
	width:810px;
	height: 25px;
}

#workslideshow {
	width: 768px;
	height: 89px;
	margin-left: 30px;

	
}

#resumespacetop{
	width: 810px;
	height: 15px;
}
#resumescrisleft{
	width:600px;
	float: left;
	color: #b1b1b1;
}

#resumescrisright {
	width:335px;
	float: left;
	color: #b1b1b1;
}
